@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body { 
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#bipolar_chart {
    width: 800px;
    height: 300px;
    border: 1px solid red;
}

#horses_shoes {
    width: 500px;
    height: 500px;
    border: 1px solid blue;
}

#line_chart { 
    width: 800px;
    height: 300px;
    border: 1px solid purple;
}