@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto&display=swap');

:root { 

    /* Palette de couleur */
    --principale: #2f365f; 
    --secondaire: #3d5a5b;
    --accent-fond-fonce: #d49096;
    --accent-fond-pale: #d90619;

    /* Couleur graphique */ 

    --jaune: #f2c84b;
    --vert_pale: #9fbf2a;
    --vert_fonce: #4c7326; 
    --bleu_pale: #629cc0; 
    --bleu_fonce: #184a8c; 
    --mauve_pale: #8b5d8a;
    --mauve_fonce: #5b3580; 
    --rose: #c24275; 
    --orange_clair: #fea120; 
    --orange_fonce: #f26a1b; 

    /* Couleur neutres pour graphique et css */
    --blanc: #f5f5f5;
    --noir: #050505;
}

html{ 
    font-size: 112.5%; 
}

body { 
    background: var(--blanc);
    color: var(--noir);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

li { 
    list-style-type: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

header { 
    background: var(--principale);
    padding: 1.5em;
    position: relative;
}

h1, h2 { 
    color: var(--blanc);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
}

.menu_close_btn {
    display: none;
}

.menu_open_btn,
.menu_close_btn { 
    color: var(--blanc);
    font-size: 2.5em;
    padding: 0.2em;
    position: absolute;
    top: 25px;
    right: 25px;
}

.menu_open_btn:hover,
.menu_close_btn:hover {
    color: var(--accent-fond-fonce);
}

.menu_open_btn:focus,
.menu_close_btn:focus {
    border: 0.1em dashed var(--accent-fond-fonce);
    border-radius: 0.5em;
    color: var(--accent-fond-fonce);
}

.navigation_principale { 
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 0;
}

.navigation_principale li { 
    margin: 5px;
}

.navigation_principale a { 
    color: var(--blanc);
    padding: 0.5em;
}

.navigation_principale a:hover{
    text-decoration: underline;
    color: var(--accent-fond-fonce);
}

.navigation_principale a:focus { 
    border: 0.2em dashed var(--accent-fond-foncet);
    border-radius: 1em;
    color: var(--accent-fond-fonce);
}

main { 
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    width: 80vw;
}

section { 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 75px auto; 
}

section > canvas,
section > div {
    max-width: 80%;
}

h3 {
    color: var(--principale);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

main a { 
    color: var(--secondaire);
    font-weight: bold;
    padding: 0.5em;
}

main a:hover { 
    color: var(--accent-fond-pale);
    text-decoration: underline;
}

main a:focus { 
    border: 0.2em dashed var(--accent-fond-pale);
    border-radius: 1em;
    color: var(--accent-fond-pale);
}

footer {
    background: var(--principale);
    display: flex;
}

footer p {
    color: var(--blanc);
    flex-basis: 100%;
    text-align: center;
}

@media (min-width: 800px) {

    html {
        font-size: 150%;
    }

    header nav {
        font-size: 0.8em;
        width: 100%;
    }
    
    .navigation_principale {
        display: flex;
    }

    .menu_open_btn,
    .menu_close_btn {
        display: none;
    }
}