@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root { 
    --jaune: #f2c84b;
    --vert_pale: #9fbf2a;
    --vert_fonce: #4c7326; 
    --bleu_pale: #629cc0; 
    --bleu_fonce: #184a8c; 
    --mauve_pale: #8b5d8a;
    --mauve_fonce: #5b3580; 
    --rose: #c24275; 
    --rouge: #b2232d;
    --orange_clair: #fea120; 
    --orange_fonce: #f26a1b; 
    --blanc: #f5f5f5;
    --noir: #050505;
}

html {
    font-size: 100%;
}

body { 
    background: var(--blanc);
    font-family: 'Roboto', sans-serif;
    /* Ce n'est pas l'idéal... je ne comprends pas pourquoi la ligne 86 et 87 ne fonctionne pas */
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

button { 
    background: transparent;
    border: none; 
    font-size: 1em;
    outline: none;
}

a { 
    text-decoration: none;
    outline: none;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    text-align: left;
}

p {
    clear: both;
}

header {
    background: var(--bleu_fonce);
    color: var(--blanc);
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

header div {
    width: 60%;
}

header nav {
    width: 35%;
}

h1, h2 { 
    padding: 5px;
    color: var(--jaune);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
}

h3, h4 {
    color: var(--rose);
}

h3 {
    font-size: 1.5rem;
}

/* h1, h2, h3 {
    text-align: center;
} */

.navigation_principale { 
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    font-size: 1em;
    /* padding: 2em; */
}


/* Je ferais une navigation à ancres nommées avec des "nav ul li a"   et j'enlèverais toutes ces classes....   Pourquoi ne pas venir chercher tes élément par "header nav ul li a"    Parce que c'est plus clair avec des classes? */


.navigation_principale li {
    /* margin: 0.5em; */
}

.navigation_principale button{
    color: var(--blanc);
    font-weight: 700;
    padding: 0.5em;
}


.navigation_principale button:hover{
    color: var(--orange_clair);
    text-decoration: underline;
}

.navigation_principale button:focus{
    color: var(--orange_clair);
    border: 0.2em dashed var(--orange_clair);
    border-radius: 0.2em;
}
/* Si on décide de ne pas mettre la fonction, la classe active n'est plus necessaire */
.active { 
    border-bottom: 0.6em solid var(--orange_clair);
}

main {
    display: flex;
    /* Si on décide de mettre la fonction avec les bouton, le flex direction n'est plus necessaire. */
    flex-direction: column; 

    /* Pourquoi cecii ne fontionne pas? */
    /* align-content: center; */
    /* justify-items: center; */
    flex-grow: 1;
}

main a {
    font-size: .8em;
    font-weight: bold;
    color: var(--rouge);
    padding: 0.2em;
}

main a:hover {
    color: var(--mauve_fonce);
    text-decoration: underline;
}

main a:focus {
    border: 0.2em dashed var(--mauve_fonce);
    border-radius: 0.4em;
    color: var(--mauve_fonce);
}

section {
    width: 100%;
    margin: 50px auto;
    /* Remettre display none si on decide de prendre la fonction */
    /* display: none; */ 
}

footer {
    background: var(--bleu_fonce);
    color: var(--blanc);
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

#graphique_volcans {
    width: 500px;
    height: 500px;
}

/* Ça empêche d'être responsive */
#graphique_pluie {
    /* width: 700px;
    height: 350px; */
}

#graphique_temperature { 
    width: 600px;
    height: 300px;
}

@media (min-width: 800px) {
    header {
        flex-direction: column;
    }

    header div  {
        width: 100%;
    }

    header nav {
        width: 100%;
    }

    .navigation_principale {
        flex-direction: row;
        justify-content: space-around;
    }
}